@import '../scss/mixins';
@import '../scss/variables';

// ? Components
@import 'text';
@import 'button';
// @import 'components/form';

//** Border Box Normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: ui-color-layout($palette, 'light');
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
